---
const { title, link_libro, image, color, alt, color_title,font, label_vermas } = Astro.props;
import {Image} from 'astro:assets'

---

<article class="book-item group z-10" style={`background-color:${color}`}>
  <!-- LOMO -->
  <div class="book-spine">
    <div class="divider thick"></div>
    <div class="w-full h-1 bg-black mb-4"></div>
    
    <div class="divider thin mb-auto"></div>
    
    <span class= "spine-text" style=`color:${color_title}; font-family:${font};`>{title}</span>
    
    <div class="divider thin mt-auto"></div>
    <div class="w-full h-1 bg-black mt-4"></div>
    <div class="divider thick"></div>
    
  </div>
  
  <!-- PORTADA -->
  <div
  class="book-cover"
  >
  <Image 
  src={image}
  alt={alt}
    />
    <div class="cover-overlay"></div>
    
      <div class="sticker w-fit">
        <a href={link_libro}>{label_vermas}</a>
      </div>
    
  </div>
</article>


